@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.about-us {
    background-color: $white;
    border-radius: 5px;
    padding: 60px 70px; 
    margin-bottom: 360px;
    margin-top: 30px;
    @media(max-width:992px) {
        padding: 30px 25px;
        margin-bottom: 260px;
    }

    .about-us__content {
        text-align: center;
        .about-us__content--title {
            font-size: 30px;
            color: #1976d2;
            margin-bottom: 20px;
            font-family: 'Frutiger Neue LT W1G';
            font-weight: 500;
            @media(max-width:992px) {
                font-size: 30px;
            }
            @media(max-width:450px) {
                font-size: 20px;
            }
        }

        .about-us__content--desc {
            font-size: 24px;
            color: #3a3a3a;
            font-weight: 600;
            @media(max-width:992px) {
                font-size: 18px;
            }
            @media(max-width:450px) {
                font-size: 15px;
            }
        }
    }
}