@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.casino-reviews {
    margin-top: 35px;
    margin-bottom: 40px;
    .casino-reviews__table {
        border-radius: 5px;
        background-color: #efefef;
        padding: 3px 0px;
        margin-bottom: 40px;
        @media(max-width:992px) {
            border-radius: 0px;
            background-color: transparent;
        }
    
        .casino-reviews__table--header {
            padding: 20px 0px 22px 0px;
            background-color: #efefef;
            color: #212121;
            @media(max-width:992px) {
                display: none;
            }
    
            ul {
                display: flex;
                justify-content: space-between;
    
                li {
                    font-size: 15px;
                    font-weight: bold;
                    color: #212121;
                    text-align: center;
    
                    .questionMark {
                        display: inline-block;
                        padding: 0px 6px;
                        background-color: #bac3cc;
                        border-radius: 50%;
                    }
                }

                .ourScore-link {
                    cursor: pointer;
                }
    
                .w-19 {
                    width: 19%;
                }
                .w-30 {
                    width: 30%;
                }
                .w-18 {
                    width: 18%;
                }
                .w-11 {
                    width: 11%;
                }
                .w-22 {
                    width: 22%;
                }
            }
        }
    
        .casino-reviews__table--itemBox {
            background-color: $white;
            @media(max-width:992px) {
                background-color: transparent;
            }
    
            .item {
                padding: 30px 15px 22px 15px;
                position: relative;
                &:nth-child(even) {
                    background-color: #efefef;
                    @media(max-width:992px) {
                        background-color: $white;
                    }
                }
                @media(max-width:992px) {
                    margin-bottom: 20px;
                    background-color: $white;
                }
    
                ul {
                    display: flex;
                    align-items: center;
                    @media(max-width:992px) {
                        flex-direction: row;
                        flex-wrap: wrap;
                        justify-content: center;
                    }

                    li {
                        @media(max-width:992px) {
                            width: 50% !important;
                            text-align: center;
                        }
                    }
    
                    .item__logo {
                        width: 17.5%;
                        padding-left: 15px;
                        @media(max-width:992px) {
                            width: 100% !important;
                            margin-bottom: 10px;
                        }
    
                        img {
                            width: 133px;
                            height: 53px;
                        }
                    }
    
                    .item__desc {
                        width: 31.5%;
                        padding: 0px 5px;
                        text-align: center;
                        @media(max-width:992px) {
                            width: 100% !important;
                            padding: 0px 188px;
                            margin-bottom: 18px;
                        }
                        @media(max-width:600px) {
                            padding: 0px 85px;
                        }
                        @media(max-width:435px) {
                            padding: 0px 22px;
                        }
    
                        p {
                            color: #4a4a4a;
                            font-size: 15px;
                            a {
                                color: #1076d4;
                            }
                        }
                    }
    
                    .item_rating {
                        width: 18%;
                        text-align: center;
                        @media(max-width:992px) {
                            text-align: right;
                            padding-right: 23px;
                        }
    
                        .star-rating {
                            margin-bottom: 7px;
                        }
    
                        a {
                            color: #4a4a4a;
                            font-size: 14px;
                            font-weight: 600;
                            &:hover {
                                text-decoration: underline;
                            }
                        }
                    }
    
                    .item_score {
                        width: 11%;
                        text-align: center;
                        @media(max-width:992px) {
                            text-align: left;
                            padding-left: 53px;
                        }

                        span {
                            color: #888888;
                            font-size: 50px;
                            display: inline-block;
                            font-family: 'Frutiger';
                        }
                    }
    
                    .item__button {
                        width: 22%;
                        text-align: right;
                        @media(max-width:992px) {
                            text-align: center;
                            margin-top: 30px;
                        }
    
                        a {
                            color: $white;
                            text-transform: uppercase;
                            font-size: 20px;
                            font-weight: 600;
                            padding: 14px 50px;
                            background-color: $button-bg;
                            box-shadow: $button-box-shadow;
                            @media(max-width:992px) {
                                padding: 14px 64px;
                                display: inline-block;
                            }
                            @media(max-width:500px) {
                                font-size: 15px;
                                padding: 10px 56px;
                            }
                            @media(max-width:430px) {
                                font-size: 11px;
                                padding: 10px 35px;
                            }
                        }
                    }
                }
    
                .editorsPick {
                    position: absolute;
                    top: 5px;
                    left: -5px;
    
                    span {
                        position: absolute;
                        top: 0;
                        color: $white;
                        display: inline-block;
                        width: 115px;
                        left: 23px;
                        font-size: 14px;
                        font-weight: 400;
                        text-transform: uppercase;
                    }
                }
            }
        }
    }
}