@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.casino-games {
    margin-top: 35px;
    background-color: $white;
    border-radius: 5px;
    @media(max-width:992px) {
        background-color: transparent;
    }
    
    .casino-games__tab {
        padding: 20px 30px 15px 30px;
        @media(max-width:590px) {
            padding: 20px 0px 15px 0px;
        }

        #casino-games__tab--nav {
            display: flex;

            li {
                margin-right: 50px;
                @media(max-width:590px) {
                    margin-right: 18px;
                }
                @media(max-width:360px) {
                    margin-right: 10px;
                }

                a {
                    font-size: 18px;
                    font-weight: 600;
                    color: #b3b2b0;
                    display: inline-block;
                    padding: 0px 0px 12px 0px;
                    &:hover {
                        color: #55aaff;
                    }
                    @media(max-width:685px) {
                        font-size: 13px;
                    }
                }
            }

            .active {
                border-bottom: 3px solid #55aaff;
                a {
                    color: #55aaff;
                }
            }
        }

        .divider {
            width: 100%;
            border-top: solid 2px #b3b2b0;
            margin-top: -2px;
        }

        .casino-games__tab--content {
            margin-top: 21px;
            .tab-item {
                font-size: 15px;
                color: #4a4a4a;
                padding-right: 5px;
                @media(max-width:992px) {
                    color: $white;
                }
                @media(max-width:685px) {
                    font-size: 12px;
                }
            }
        }
    }
}