@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.casino-review {
    .casino__table {
        margin-top: 30px;
        .casino-review__content {
            padding: 40px 30px 60px 30px;
            background-color: $white;
            border-top: 1px solid #f3f3f3;
            h4 {
                font-size: 20px;
                font-weight: 600;
                color: #212121;
                margin-bottom: 20px;
            }

            p {
                font-size: 16px;
                font-weight: 300;
                color: #212121;
                margin-bottom: 20px;
            }

            .visit-button {
                text-align: center;
                a {
                    font-size: 20px;
                    font-weight: 600;
                    color: $white;
                    background-color: $button-bg;
                    text-transform: uppercase;
                    padding: 16px 81px;
                    box-shadow: $button-box-shadow;
                    display: inline-block;
                    @media(max-width:400px) {
                        font-size: 14px;
                        padding: 14px 77px;
                    }
                }
            }
        }
    }
}