@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.contacts {
    padding: 30px 330px;
    @media(max-width:1200px) {
        padding: 30px 280px;
    }
    @media(max-width:992px) {
        padding: 30px 165px;
    }
    @media(max-width:768px) {
        padding: 30px 15px;
    }

    .contacts__support {
        text-align: center;
        h3 {
            font-size: 34px;
            color: #55aaff;
            margin-bottom: 20px;
            font-family: 'Frutiger Neue LT W1G';
        }

        .contacts__support--txtRegular {
            font-size: 24px;
            font-weight: 600;
            color: $white;
            margin-bottom: 10px;
        }

        .contacts__support--txtSmall {
            font-size: 17px;
            font-weight: 600;
            color: #55aaff;
            margin-bottom: 10px;
        }

        .contacts__support--location {
            text-align: left;
            margin-left: 50px;
            @media(max-width:768px) {
                text-align: center;
                margin-left: 0px;
            }

            .mail {
                margin-bottom: 15px;

                img {
                    margin-right: 11px;
                }

                a {
                    color: $white;
                    font-size: 18px;
                    &:hover {
                        color: #55aaff;
                    }
                }
            }

            .adress {
                margin-bottom: 25px;

                img {
                    vertical-align: super;
                    margin-right: 13px;
                    margin-left: 3px;
                }

                div {
                    display: inline-block;
                    @media(max-width:768px) {
                        text-align: left;
                    }

                    span {
                        display: block;
                        color: $white;
                        font-size: 18px;
                    }
                }

            }
        }
    }

    .contacts__form {
        form {
            text-align: center;
            input, textarea {
                font-size: 16px;
                padding: 22px 17px;
                border-radius: 5px;
                margin-bottom: 30px;
                border: none;
                color: $black;
                &:focus {
                    outline: none;
                }
                &::placeholder {
                    color: #767676;
                }
            }

            textarea {
                width: 100%;
                padding: 14px 17px;
                height: 253px;
            }

            .g-recaptcha {
                margin-left: 38px;
                margin-bottom: 30px;
                @media(max-width:420px) {
                    margin-left: 0px;
                }
            }

            button {
                font-size: 18px;
                color: $white;
                background-color: #1976d2;
                border: solid 1px #0075d9;
                border-radius: 0px;
                padding: 10px 78px;
                &:focus {
                    outline: none;
                }
            }
        }
    }
}