// Global styles.

/*
    nested classes allowed only 2 levels.
    camel case class names.
*/

// js- { prefixed classes are javascript hooks }
// c- { prefixed classes are components }
// m- { prefixed classes are module }
// u- { prefixed classes are utility }
@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

body {
    width: 100%;
    font-family: 'SF UI Display';
    font-style: normal;
    font-weight: normal;
    background-color: $bg-body;
}

.container {
    @media(max-width:768px) {
        padding: 0px 15px !important;
    }
}

ul,li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a, a:hover, a:focus {
    text-decoration: none;
}

p {
    margin: 0;
    padding:0;
}


.c-header {
    background-image: url("../images/header-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    padding: 22px 0px;

    .c-header__main {
        display: flex;
        justify-content: space-between;
        color: $white;

        .c-header__main--logo {
            display: flex;
            @media(max-width:992px) {
                align-items: center;
                justify-content: space-between;
                width: 100%;
            }

            .large-screen {
                width: 137px;
                height: 46px;
                @media(max-width:992px) {
                    display: none;
                }
            }

            .small-screen {
                width: 46px;
                height: 46px;
                display: none;
                @media(max-width:992px) {
                    display: block;
                }
            }

            .c-header__main--mobileMenu {
                display: none;
                @media(max-width:992px) {
                    display: block;
                }
            }


            .date {
                width: 213px;
                height: 48px;
                margin-left: 57px;
                border: 1px solid white;
                display: flex;
                justify-content: center;
                align-items: center;
                @media(max-width:992px) {
                    display: none;
                }

                p {
                    font-size: 18px;
                    font-family: 'Frutiger Neue LT W1G';
                    font-weight: 500;
                }
            }
        }

        .c-header__main--nav {
            @media(max-width:992px) {
                display: none;
            }

            ul {
                display: flex;
                li {
                    margin-left: 48px;

                    a {
                        color: $white;
                        font-size: 18px;
                        padding-top: 12px;
                        font-weight: 500;
                        display: inline-block;
                        font-family: 'Frutiger Neue LT W1G';
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
            }
        }
    }

    .date-inMobile {
        display: none;
        @media(max-width:992px) {
            display: block;
        }

        p {
            font-size: 18px;
            font-family: 'Frutiger Neue LT W1G';
            font-weight: 500;
            color: $white;
            text-align: center;
            margin-top: 22px;
        }
    }

    .c-header__title {
        text-align: center;
        margin-top: 34px;
        margin-bottom: 36px;
        @media(max-width:992px) {
            margin-top: 25px;
            margin-bottom: 25px;
        }

        .c-header__title--item {
            font-size: 48px;
            color: $white;
            font-family: 'Frutiger Neue LT W1G';
            font-weight: 500;
            @media(max-width:992px) {
                font-size: 21px;
            }
        }
    }
}

.c-footer {
    .c-footer-wrapper {
        display: flex;
        justify-content: space-between;
        padding: 24px 0px; 
        margin-top: 20px;
        border-top: 2px solid #989898;
        font-family: 'Frutiger Neue LT W1G';
        @media(max-width:992px) {
            flex-direction: column-reverse;
            align-items: center;
        }

        .c-footer__logo {
            display: flex;
            align-items: center;

            img {
                height: 46px;
                width: 46px;
            }

            p {
                font-size: 14px;
                margin-left: 15px;
                padding-top: 2px;
                color: #989898;
            }
        }

        .c-footer__nav {
            display: flex;
            align-items: center;

            ul {
                display: flex;
                @media(max-width:992px) {
                    flex-direction: column;
                    align-items: center;
                }
                li {
                    margin-left: 36px;
                    @media(max-width:992px) {
                        margin-left: 0px;
                    }

                    a {
                        color: #989898;
                        font-size: 17px;
                        display: inline-block;
                        padding-top: 2px;
                        @media(max-width:992px) {
                            margin-bottom: 25px;
                        }
                    }
                }
            }
        }
    }
}

.casino__table {
    border-radius: 5px;
    background-color: #efefef;
    padding: 3px 0px;
    margin-bottom: 40px;
    margin-top: 30px;
    @media(max-width:992px) {
        border-radius: 0px;
        background-color: transparent;
    }

    .casino__table--header {
        padding: 20px 0px 22px 0px;
        background-color: #efefef;
        color: #212121;
        @media(max-width:992px) {
            display: none;
        }

        ul {
            display: flex;
            justify-content: space-between;

            li {
                font-size: 15px;
                font-weight: bold;
                color: #212121;
                text-align: center;

                .questionMark {
                    display: inline-block;
                    padding: 0px 6px;
                    background-color: #bac3cc;
                    border-radius: 50%;
                    cursor: pointer;
                }
            }

            .ourScore-link {
                cursor: pointer;
            }

            .w-19 {
                width: 19%;
            }
            .w-30 {
                width: 30%;
            }
            .w-18 {
                width: 18%;
            }
            .w-11 {
                width: 11%;
            }
            .w-22 {
                width: 22%;
            }
        }
    }

    .casino__table--itemBox {
        background-color: $white;
        @media(max-width:992px) {
            background-color: transparent;
        }

        .item {
            padding: 30px 15px 22px 15px;
            position: relative;
            &:nth-child(even) {
                background-color: #efefef;
                @media(max-width:992px) {
                    background-color: $white;
                }
            }
            @media(max-width:992px) {
                margin-bottom: 20px;
                background-color: $white;
            }

            ul {
                display: flex;
                align-items: center;
                @media(max-width:992px) {
                    flex-direction: row;
                    flex-wrap: wrap;
                    justify-content: center;
                }

                li {
                    @media(max-width:992px) {
                        width: 50% !important;
                        text-align: center;
                    }
                }

                .item__logo {
                    width: 19%;
                    padding-left: 15px;
                    @media(max-width:992px) {
                        width: 100% !important;
                        margin-bottom: 10px;
                    }

                    img {
                        width: 133px;
                        height: 53px;
                    }
                }

                .item__desc {
                    width: 30%;
                    padding: 0px 5px;
                    text-align: center;
                    @media(max-width:992px) {
                        width: 100% !important;
                        padding: 0px 188px;
                        margin-bottom: 18px;
                    }
                    @media(max-width:600px) {
                        padding: 0px 85px;
                    }
                    @media(max-width:435px) {
                        padding: 0px 22px;
                    }

                    p {
                        color: #4a4a4a;
                        font-size: 18px;
                        font-weight: 500;
                    }
                }

                .item_rating {
                    width: 18%;
                    text-align: center;
                    @media(max-width:992px) {
                        text-align: right;
                        padding-right: 23px;
                    }

                    .star-rating {
                        margin-bottom: 7px;
                    }

                    a {
                        color: #4a4a4a;
                        font-size: 14px;
                        font-weight: 600;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                .item_score {
                    width: 11%;
                    text-align: center;
                    @media(max-width:992px) {
                        text-align: left;
                        padding-left: 53px;
                    }

                    span {
                        color: #888888;
                        font-size: 50px;
                        display: inline-block;
                        font-family: 'Frutiger';
                    }
                }

                .item__button {
                    width: 22%;
                    text-align: right;
                    @media(max-width:992px) {
                        text-align: center;
                        margin-top: 30px;
                    }

                    a {
                        color: $white;
                        text-transform: uppercase;
                        font-size: 20px;
                        font-weight: 600;
                        padding: 14px 50px;
                        background-color: $button-bg;
                        box-shadow: $button-box-shadow;
                        @media(max-width:992px) {
                            padding: 14px 64px;
                            display: inline-block;
                        }
                        @media(max-width:500px) {
                            font-size: 15px;
                            padding: 10px 56px;
                        }
                        @media(max-width:430px) {
                            font-size: 11px;
                            padding: 10px 35px;
                        }
                    }
                }
            }

            .editorsPick {
                position: absolute;
                top: 5px;
                left: -5px;

                span {
                    position: absolute;
                    top: 0;
                    color: $white;
                    display: inline-block;
                    width: 115px;
                    left: 23px;
                    font-size: 14px;
                    font-weight: 400;
                    text-transform: uppercase;
                }
            }
        }
    }
}

.our-score {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    padding-top: 95px;
    @media(max-width:810px) {
        overflow: scroll;
    }

    .our-score__item {
        width: 1040px;
        background-color: $white;
        border-radius: 5px;
        margin: 0 auto;
        padding: 70px 37px;
        position: relative;
        @media(max-width:1076px) {
            width: 770px;
        }
        @media(max-width:810px) {
            width: 580px;
        }
        @media(max-width:600px) {
            width: 480px;
            padding: 45px 5px;
        }
        @media(max-width:500px) {
            width: 380px;
        }
        @media(max-width:400px) {
            width: 300px;
        }
        
        .our-score__item--title {
            font-size: 48px;
            font-weight: bold;
            color: #1976d2;
            margin-bottom: 20px;
            text-align: center;
            font-family: 'Frutiger Neue LT W1G';
            @media(max-width:810px) {
                font-size: 28px;
            }
            @media(max-width:600px) {
                font-size: 20px;
            }
        }

        .our-score__item--desc {
            font-size: 20px;
            color: #3a3a3a;
            margin-bottom: 40px;
            text-align: center;
            padding: 0px 115px;
            font-weight: 500;
            @media(max-width:810px) {
                font-size: 16px;
                padding:  0px 40px;
            }
            @media(max-width:600px) {
                font-size: 14px;
            }
        }

        .our-score__item--nav {
            ul {
                display: flex;
                justify-content: space-between;
                @media(max-width:810px) {
                    justify-content: space-around;
                    flex-wrap: wrap;
                }
                li {
                    text-align: center;
                    @media(max-width:810px) {
                        margin-bottom: 20px;
                    }
                    a {
                        p {
                            width: 170px;
                            text-align: center;
                            font-size: 18px;
                            font-weight: bold;
                            color: #3a3a3a;
                            margin-top: 22px;
                            @media(max-width:500px) {
                                font-size: 14px;
                            }
                        }

                        img {
                            @media(max-width:500px) {
                                width: 90px;
                                height: 90px;
                            }
                        }
                    }
                }
            }
        }

        .close-modal {
            position: absolute;
            top: 30px;
            right: 30px;
            cursor: pointer;
            @media(max-width:600px) {
                top: 10px;
                right: 10px;    
            }

            img {
                @media(max-width:600px) {
                    width: 20px;
                    height: 20px;    
                }
            }
        }
    }
}

.starPopup {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    padding-top: 95px;
    @media(max-width:810px) {
        overflow: scroll;
    }

    .starPopup__item {
        width: 1040px;
        background-color: $white;
        border-radius: 5px;
        margin: 0 auto;
        padding: 70px 37px;
        position: relative;
        @media(max-width:1076px) {
            width: 770px;
        }
        @media(max-width:810px) {
            width: 580px;
        }
        @media(max-width:600px) {
            width: 480px;
            padding: 45px 5px;
        }
        @media(max-width:500px) {
            width: 380px;
        }
        @media(max-width:400px) {
            width: 300px;
        }
        
        .starPopup__item--title {
            font-size: 48px;
            font-weight: bold;
            color: #1976d2;
            margin-bottom: 20px;
            text-align: center;
            font-family: 'Frutiger Neue LT W1G';
            @media(max-width:810px) {
                font-size: 28px;
            }
            @media(max-width:600px) {
                font-size: 20px;
            }
        }

        .starPopup__item--desc {
            font-size: 20px;
            color: #3a3a3a;
            margin-bottom: 40px;
            text-align: center;
            padding: 0px 115px;
            font-weight: 500;
            @media(max-width:810px) {
                font-size: 16px;
                padding:  0px 40px;
            }
            @media(max-width:600px) {
                font-size: 14px;
            }
        }

        .close-modal {
            position: absolute;
            top: 30px;
            right: 30px;
            cursor: pointer;
            @media(max-width:600px) {
                top: 10px;
                right: 10px;    
            }

            img {
                @media(max-width:600px) {
                    width: 20px;
                    height: 20px;    
                }
            }
        }
    }
}


.mobileMenu {
    display: none;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    padding-top: 95px;
    @media(max-width:810px) {
        overflow: scroll;
    }

    .mobileMenu__item {
        width: 1040px;
        background-color: $white;
        margin: 0 auto;
        padding: 60px 0px;
        position: relative;
        @media(max-width:1076px) {
            width: 720px;
        }
        @media(max-width:810px) {
            width: 580px;
        }
        @media(max-width:600px) {
            width: 480px;
            padding: 45px 5px;
        }
        @media(max-width:500px) {
            width: 380px;
        }
        @media(max-width:400px) {
            width: 300px;
        }

        ul {
            li {
                text-align: center;
                margin-bottom: 20px;
                a {
                    font-size: 21px;
                    color: $black;
                    font-weight: 500;
                }
            }
        }

        .close-modal {
            position: absolute;
            top: -35px;
            right: 10px;
            cursor: pointer;

            img {
                @media(max-width:600px) {
                    width: 20px;
                    height: 20px;    
                }
            }
        }
    }
}
