@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.casino {
    color: $white;
    .casino__text {
        margin-bottom: 40px;
        font-family: 'Frutiger Neue LT W1G';
        .casino__text--big {
            font-size:  19px;
            color: $white;
            font-weight: 500;
            margin-bottom: 20px;
        }

        .casino__text--regular {
            font-size: 15px;
            color: #f3f3f3;
            margin-bottom: 20px;
            font-weight: 300;
        }
    }
}