@import "./helpers/vars";
@import "./helpers/util";
@import "./helpers/fonts";

.terms-conditions {
    padding: 60px 30px;
    background-color: $white;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 40px;

    .terms-conditions__item {
        margin-bottom: 50px;
        
        .terms-conditions__item--title {
            font-size: 24px;
            color: #3a3a3a;
            text-align: center;
            margin-bottom: 15px;
            font-weight: 500;
            font-family: 'Frutiger Neue LT W1G';
        }

        .terms-conditions__item--desc {
            font-size: 15px;
            color: #3a3a3a;
            margin-bottom: 15px;
        }
    }
}