@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Light.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Black.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Black.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Heavy.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger 57Cn';
    src: url('../fonts/Frutiger-Cn.woff2') format('woff2'),
        url('../fonts/Frutiger-Cn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Medium.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Cn UltLt';
    src: url('../fonts/FrutigerNeueLTW1G-CnUltLtIt.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-CnUltLtIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-BoldObl.woff2') format('woff2'),
        url('../fonts/UniversLTStd-BoldObl.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Book';
    src: url('../fonts/FrutigerNeueLTW1G-Book.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Cn';
    src: url('../fonts/FrutigerNeueLTW1G-CnMdIt.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-CnMdIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Book';
    src: url('../fonts/FrutigerNeueLTW1G-Bold.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Cn Book';
    src: url('../fonts/FrutigerNeueLTW1G-CnBoldIt.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-CnBoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-Bold.woff2') format('woff2'),
        url('../fonts/UniversLTStd-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Cn';
    src: url('../fonts/FrutigerNeueLTW1G-CnHv.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-CnHv.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Cn XBlack';
    src: url('../fonts/FrutigerNeueLTW1G-CnXBlkIt.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-CnXBlkIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Light.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Light.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G UltLt';
    src: url('../fonts/FrutigerNeueLTW1G-UltLt.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-UltLt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G';
    src: url('../fonts/FrutigerNeueLTW1G-Black.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Book';
    src: url('../fonts/FrutigerNeueLTW1G-BoldIt.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-BoldIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-UltraCn.woff2') format('woff2'),
        url('../fonts/UniversLTStd-UltraCn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Medium.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G XBlack';
    src: url('../fonts/FrutigerNeueLTW1G-XBlackIt.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-XBlackIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-LightUltraCn.woff2') format('woff2'),
        url('../fonts/UniversLTStd-LightUltraCn.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Ultralight.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Ultralight.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-XBlackObl.woff2') format('woff2'),
        url('../fonts/UniversLTStd-XBlackObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-BoldEx.woff2') format('woff2'),
        url('../fonts/UniversLTStd-BoldEx.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-LightCnObl.woff2') format('woff2'),
        url('../fonts/UniversLTStd-LightCnObl.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-ExObl.woff2') format('woff2'),
        url('../fonts/UniversLTStd-ExObl.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-LightCn.woff2') format('woff2'),
        url('../fonts/UniversLTStd-LightCn.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G';
    src: url('../fonts/FrutigerNeueLTW1G-HeavyIt.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-HeavyIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Heavy.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Cn XBlack';
    src: url('../fonts/FrutigerNeueLTW1G-CnXBlk.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-CnXBlk.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G';
    src: url('../fonts/FrutigerNeueLTW1G-Medium.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-ThinUltraCn.woff2') format('woff2'),
        url('../fonts/UniversLTStd-ThinUltraCn.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-BlackExObl.woff2') format('woff2'),
        url('../fonts/UniversLTStd-BlackExObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-CnObl.woff2') format('woff2'),
        url('../fonts/UniversLTStd-CnObl.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Cn';
    src: url('../fonts/FrutigerNeueLTW1G-CnHvIt.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-CnHvIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-BoldExObl.woff2') format('woff2'),
        url('../fonts/UniversLTStd-BoldExObl.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G';
    src: url('../fonts/FrutigerNeueLTW1G-BlackIt.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-BlackIt.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Cn';
    src: url('../fonts/FrutigerNeueLTW1G-CnBlk.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-CnBlk.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-BoldCnObl.woff2') format('woff2'),
        url('../fonts/UniversLTStd-BoldCnObl.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G';
    src: url('../fonts/FrutigerNeueLTW1G-Thin.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd.woff2') format('woff2'),
        url('../fonts/UniversLTStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Cn';
    src: url('../fonts/FrutigerNeueLTW1G-CnLtIt.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-CnLtIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G XBlack';
    src: url('../fonts/FrutigerNeueLTW1G-XBlack.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-XBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Book';
    src: url('../fonts/FrutigerNeueLTW1G-BookIt.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-BookIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Black.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Black.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G';
    src: url('../fonts/FrutigerNeueLTW1G-Italic.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Cn Book';
    src: url('../fonts/FrutigerNeueLTW1G-CnBookIt.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-CnBookIt.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Black.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-XBlack.woff2') format('woff2'),
        url('../fonts/UniversLTStd-XBlack.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-Ex.woff2') format('woff2'),
        url('../fonts/UniversLTStd-Ex.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-BlackObl.woff2') format('woff2'),
        url('../fonts/UniversLTStd-BlackObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Cn';
    src: url('../fonts/FrutigerNeueLTW1G-CnThinIt.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-CnThinIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Light.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-XBlackEx.woff2') format('woff2'),
        url('../fonts/UniversLTStd-XBlackEx.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-BoldCn.woff2') format('woff2'),
        url('../fonts/UniversLTStd-BoldCn.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-BlackEx.woff2') format('woff2'),
        url('../fonts/UniversLTStd-BlackEx.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger';
    src: url('../fonts/Frutiger-Cn.woff2') format('woff2'),
        url('../fonts/Frutiger-Cn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Bold.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G';
    src: url('../fonts/FrutigerNeueLTW1G-MediumIt.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-MediumIt.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Heavy.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Heavy.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Cn';
    src: url('../fonts/FrutigerNeueLTW1G-CnThin.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-CnThin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Semibold.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Semibold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G';
    src: url('../fonts/FrutigerNeueLTW1G-ThinIt.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-ThinIt.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Cn Book';
    src: url('../fonts/FrutigerNeueLTW1G-CnBold.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-CnBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-LightObl.woff2') format('woff2'),
        url('../fonts/UniversLTStd-LightObl.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-Light.woff2') format('woff2'),
        url('../fonts/UniversLTStd-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Cn UltLt';
    src: url('../fonts/FrutigerNeueLTW1G-CnUltLt.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-CnUltLt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G';
    src: url('../fonts/FrutigerNeueLTW1G-Regular.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Thin.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Medium.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Cn';
    src: url('../fonts/FrutigerNeueLTW1G-CnRg.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-CnRg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G';
    src: url('../fonts/FrutigerNeueLTW1G-Heavy.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-Heavy.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G';
    src: url('../fonts/FrutigerNeueLTW1G-Light.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-XBlackExObl.woff2') format('woff2'),
        url('../fonts/UniversLTStd-XBlackExObl.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'SF UI Display';
    src: url('../fonts/SFUIDisplay-Regular.woff2') format('woff2'),
        url('../fonts/SFUIDisplay-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-Cn.woff2') format('woff2'),
        url('../fonts/UniversLTStd-Cn.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Cn Book';
    src: url('../fonts/FrutigerNeueLTW1G-CnBook.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-CnBook.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G';
    src: url('../fonts/FrutigerNeueLTW1G-LightIt.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-LightIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G UltLt';
    src: url('../fonts/FrutigerNeueLTW1G-UltLtIt.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-UltLtIt.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-Black.woff2') format('woff2'),
        url('../fonts/UniversLTStd-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Univers LT Std';
    src: url('../fonts/UniversLTStd-Obl.woff2') format('woff2'),
        url('../fonts/UniversLTStd-Obl.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Cn';
    src: url('../fonts/FrutigerNeueLTW1G-CnItalic.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-CnItalic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Cn';
    src: url('../fonts/FrutigerNeueLTW1G-CnMd.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-CnMd.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Cn';
    src: url('../fonts/FrutigerNeueLTW1G-CnLt.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-CnLt.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Frutiger Neue LT W1G Cn';
    src: url('../fonts/FrutigerNeueLTW1G-CnBlkIt.woff2') format('woff2'),
        url('../fonts/FrutigerNeueLTW1G-CnBlkIt.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

