// [[ Bootstrap defaults.
$icon-font-path: '../fonts/';
$grid-gutter-width: 0;
$container-large-desktop: 1040px;
// ]] Bootstrap defaults

$white:  #fff;
$black: #000000;
$bg-body: #24282d;
$button-bg: #1076d4;
$button-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.24), 0 0 2px 0 rgba(0, 0, 0, 0.12);

